html, body {
	font-family: 'Montserrat', sans-serif;
}
#wrapper {
	height: 70px;
	margin: 0;
	z-index: 99;
	position: relative;
	background-color: white;
}
#wrapper img {
	width: 22%;
	display: inline-block;
	position: relative;
	float: left;
}
#right-wrapper {
	width: 75%;
	position: relative;
	float: right;
	height: 70px;
}
.navbar {
	display: inline-block;
	padding: 0;
	height: 35px;
	margin: 0;
	position: absolute;
}
#top-nav,
#primary-nav {
	position: relative;
}
.navbar li {
	height: auto;
	width: 150px;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
	margin: 0;
}
.navbar a {							
	border-left: 1px solid #54879d; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid #1f5065; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	display: block;
}
.navbar li ul 	{
	display: none;  /* Hides the drop-down menu */
	height: auto;									
	margin: 0; /* Aligns drop-down box underneath the menu item */
	padding: 0; /* Aligns drop-down box underneath the menu item */			
}				

.navbar li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
}
#slides-container {
	height: 100px;
}
.gallery-title {
	position: absolute; 
	width: 480px; 
	height: 120px; 
	top: 30px; 
	left: 30px; 
	padding: 5px;
	text-align: left; 
	line-height: 60px; 
	text-transform: uppercase; 
	font-size: 50px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
.gallery-text {
	position: absolute; 
	width: 480px; 
	height: 120px; 
	top: 300px; 
	left: 30px; 
	padding: 5px;
	text-align: left; 
	line-height: 36px; 
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
    background: url(../../img/b21.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
#bullet-nav {
	position: absolute; 
	bottom: 26px; 
	left: 6px;
}
#bullet-nav-proto {
	position: absolute; 
	width: 19px; 
	height: 19px; 
	text-align:center; 
	line-height:19px; 
	color:White; 
	font-size:12px;
}
/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l              (normal)
.jssora21r              (normal)
.jssora21l:hover        (normal mouseover)
.jssora21r:hover        (normal mouseover)
.jssora21ldn            (mousedown)
.jssora21rdn            (mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }
#arrow-left {
	width: 55px; 
	height: 55px; 
	top: 123px; 
	left: 8px;
}
#arrow-right {
	width: 55px; 
	height: 55px; 
	top: 123px; 
	right: 8px;
}


